dist/
node_modules/

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# vuepress build output
.vuepress/dist

# vuepress v2.x temp and cache directory
.temp
.cache

# 个人不经常使用webstorm，屏蔽相关的配置文件
.idea/

# 忽略掉电脑层面上的工作区配置 每一个工作区都应该自行实现对应的配置
this-proj.code-workspace

# 忽略掉总是会自动生成的文件夹 该内容都是用typedoc自动生成的文档；
docs/docs-typedoc

# 忽略掉 @vitest/ui 生成的本地测试页面
html

# 不提供包锁文件 自动生成的文件 不应该提交到仓库中
pnpm-lock.yaml

# 忽略turbo生成文件
.turbo

# 默认忽略掉本地生成的 vercel 目录
.vercel

# 忽略自动生成vercel部署配置文件
vercel.null.def.json