# 过于严格导致github action出错，故不提供
# engine-strict=true

# https://pnpm.io/zh/npmrc#link-workspace-packages
link-workspace-packages=deep

# 疑似无效
# NODE_OPTIONS=--max-old-space-size=8000

# 设置内存大小
# https://stackoverflow.com/a/75793324/18167453
node-options=--max-old-space-size=8192

# 我自己的子包 指定镜像为官方镜像
@ruan-cat:registry=https://registry.npmjs.org/
