# 过于严格导致github action出错，故不提供
# engine-strict=true

# https://pnpm.io/zh/npmrc#link-workspace-packages
link-workspace-packages=deep

# 疑似无效
# NODE_OPTIONS=--max-old-space-size=8000

# 我自己的子包 指定镜像为官方镜像
@ruan-cat:registry=https://registry.npmjs.org/
