

// 调整评论栏的组件样式 不需要手动完成样式处理
// #valine-vuepress-comment {
//   width 80%
//   margin-left 10%
//   margin-right 10%

//   background-color rgb(244,244,244)
//   box-shadow 0 4px 5px 1px rgba(0,0,0,0.5)
// }

// #valine-vuepress-comment .vempty {
//   display none
// }

// 全文搜索框
.suggestions
  overflow: auto
  max-height: calc(100vh - 6rem)
  @media (max-width: 719px) {
    width: 90vw;
    min-width: 90vw!important;
    margin-right: -20px;
  }
  .highlight
    color: $accentColor
    font-weight: bold