
// blackColor = rgb(0,0,0)
blackColor = rgb(255,255,255)

.home-page-class
  .hero
    #main-title
      color: blackColor
    .description
      color: blackColor

  .features
    color: blackColor

  .body-bg
    // filter: blur(5px) grayscale(80%);
    // filter: blur(20px) grayscale(100%) ;

    // https://developer.mozilla.org/zh-CN/docs/Web/CSS/filter-function/brightness
    filter: blur(20px) brightness(50%);