@use "@sass-palette/hope-config";

@import "./config.scss";

// 参考资料 https://github.com/orgs/vuepress-theme-hope/discussions/3742
// FIXME: 出错 无法运行
// @media (min-width: hope-config.$wide) {
// 	html {
// 		--content-width: calc(100vw - 40rem) !important;
// 	}
// }

// TODO: 临时注释
// 使用专门封装好的钻头样式
// @import "./drill-page-style/index.scss";
// 全局设置滚动条的宽度 设置较宽的。便于选中。
::-webkit-scrollbar {
	width: 14px;
}

.vp-breadcrumb,
.vp-page-title,
.toc-place-holder,
.theme-hope-content:not(.custom) {
	max-width: 95vw;
}

// @media (min-width: $pc) {
// 	.toggle-sidebar-wrapper {
// 		display: unset;
// 	}
// }

html {
	::-webkit-scrollbar {
		width: 14px;
	}
}

aside#sidebar {
	&::-webkit-scrollbar {
		// 有疑惑 不生效
		transition: all 0.28s ease-in-out;
		width: 6px;
	}

	&:hover::-webkit-scrollbar {
		width: 14px;
	}
}
