
.home-page-class
  .body-bg
    // 参考资料： 首页的
    // https://developer.mozilla.org/zh-CN/docs/Web/CSS/filter-function/brightness
    // filter: blur(5px) grayscale(80%);
    // filter: blur(20px) grayscale(100%) ;
    // filter: blur(2px) brightness(50%);
    filter: brightness(60%);