// place your custom styles here

// @import "./palette.scss";
@import "../palette.scss";

// border边距调整
@mixin pub-border {
	border-bottom: 1px solid #eaecef;
	border-style: dotted;

	border-right: none;
	border-top: none;
	border-left: none;
}

@mixin dashed-border {
	border-bottom: 1px rgba($color: black, $alpha: 0.5) dashed;

	&:last-child {
		border-bottom: none;
	}
}

ul.vp-sidebar-links {
	li {
		@include dashed-border();

		// &:last-child {
		// 	border-bottom: none;
		// }
	}
}

aside#toc {
	.toc-header {
		padding-left: 1rem;
		margin-bottom: 0;

		display: inline-block;
		background-color: $drillup-right-aside-bg;
		color: rgba($color: white, $alpha: 0.8);

		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}

	.toc-wrapper {
		margin-right: 0;

		background-color: $drillup-right-aside-bg;

		// width: 300px;

		ul.toc-list {
			display: flex;
			flex-direction: column;

			li.toc-item {
				@include dashed-border();

				// padding: 0 0.5rem;
				padding: 0;
				// margin-right: 0.5rem;
				// margin-left: 0.5rem;
				// margin-bottom: 5px;

				display: inline-flex;
				line-height: normal;
				height: auto;

				a.vp-link.toc-link {
					display: block;

					width: 200px;

					word-wrap: normal;
					white-space: normal;
				}
			}
		}

		//
	}
}

// // border圆角调整
// @mixin pub-radius {
// 	// 需要圆角边距
// 	border-radius: 5px;
// }

// 主页面 背景色换成所需的主题色
// .page {
// 	background-color: $theme-color;

// 	aside {
// 		@include pub-radius;

// 		background-color: #ffaf00;
// 	}

// 	// 内容容器
// 	.theme-hope-content {
// 		@include pub-radius;

// 		// 换成所需的蓝色
// 		background-color: #36c4e6;

// 		// 换成白色文本
// 		color: white;

// 		.page-title {
// 			// 使用共同的边距调整
// 			@include pub-border;
// 		}

// 		h1,
// 		h2,
// 		h3,
// 		h4,
// 		h5 {
// 			// 使用共同的边距调整
// 			@include pub-border;

// 			// 原来的文字颜色
// 			// color: #2c3e50;
// 			// 目标网站的颜色
// 			color: #505050;
// 		}
// 	}
// }
