// you can change config here
$colors: #c0392b, #d35400, #f39c12, #27ae60, #16a085, #2980b9, #8e44ad, #2c3e50, #7f8c8d !default;

// 修改电脑响应式布局断点
// $pc: 1920px;
// $pc: 5000px;

// 想实现有效的 侧边栏控制
// $mobile: 1920px;
// $mobile: 20px;

// 侧边栏宽度
// $sidebar-width: 18.5rem;

// 主要内容的宽度
// $content-width: 1150px;
