@use "@sass-palette/hope-config";

@import "config";
@import "palette";

// 参考资料 https://github.com/orgs/vuepress-theme-hope/discussions/3742
// FIXME: 出错 无法运行
// @media (min-width: hope-config.$wide) {
// 	html {
// 		--content-width: calc(100vw - 40rem) !important;
// 	}
// }

// .vp-breadcrumb,
// .vp-page-title,
// .toc-place-holder,
// .theme-hope-content:not(.custom) {
// 	max-width: 95vw;
// }

// 侧边栏宽度
$scrollbar-width: 0.9rem;

:root {
	scrollbar-width: auto;
}

.vp-sidebar {
	scrollbar-width: auto;
}

/*滚动条样式*/
::-webkit-scrollbar {
	width: $scrollbar-width;
	border-radius: 0;
}

::-webkit-scrollbar-thumb {
	width: $scrollbar-width;
	border-radius: 0;
	// border-radius: calc($scrollbar-width * 0.5);
	// -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	// background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
	width: $scrollbar-width;
	border-radius: 0;
	// border-radius: calc($scrollbar-width * 0.5);
	// -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	// background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track-piece {
	width: $scrollbar-width;
	border-radius: 0;
}

hr {
	border-top: none;
	border-top: 2px dotted var(--border-color);
}

$border-radius: 1rem;

.theme-hope-content {
	background-color: $drill-content-bgc;
	border-radius: $border-radius;
	color: $drill-white;

	padding: 0 25px;
	padding-top: 10px !important;
	padding-bottom: 30px;

	&:not(.custom) {
		padding: 0 25px;
		padding-top: 10px !important;
		padding-bottom: 30px;
	}

	h1,
	h2,
	h3,
	h4 {
		color: $drill-black;
	}

	a:not(.header-anchor) {
		color: $drill-black;
		text-decoration: underline;

		&:hover {
			color: $drill-orange;
		}
	}
}

// a标签
.external-link-icon .theme-hope-content {
	a {
		&[href*="://"],&[target=_blank]
		{
			// position: relative;

			&:not(.no-external-link-icon) {
				&::after {
					font-size: 1rem;
					width: 1rem;
					height: 1rem;
					background-color: $drill-white;
				}

				&:hover::after {
					// TODO: 实现图标变化的动效
					// font-size: 1.5rem;
					// width: 1.5rem;
					// height: 1.5rem;
					// background-color: $drill-white;
				}
			}
		}
	}
}

aside#toc {
	.vp-toc-header {
		display: inline;
		background-color: $drill-orange;
		padding: 0.5rem 1rem !important;

		border-radius: $border-radius;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;

		color: $drill-white;
	}

	.vp-toc-wrapper {
		$text-color: rgb(80, 80, 80);

		color: $text-color;
		background-color: $drill-orange;
		border-radius: $border-radius;
		border-top-left-radius: 0;

		margin: 0 !important;
		padding: 1rem 1rem;
		padding-top: 0.5rem;

		&.open {
			margin-top: 0 !important;
			padding-bottom: 1rem;
		}

		&::before {
			width: 1rem;
		}

		.vp-toc-marker {
			width: 1rem;
			clip-path: ellipse(100% 50% at 0% 50%);
			// background-color: $drill-yellow;
		}

		.vp-toc-item {
			.vp-toc-link {
				color: $text-color;
			}

			& .active {
				.vp-toc-link {
					font-weight: bolder;
				}
			}
		}

		// 移除掉多余的黑色点块
		li:not(.vp-toc-item) {
			&::marker {
				content: "";
			}
		}
	}
}

// aside#sidebar {
// 	$color: palevioletred;
// 	$width-s: 0.4rem;
// 	$width-l: 1rem;

// 	& {
// 		&::-webkit-scrollbar {
// 			width: $width-s;
// 		}

// 		&::-webkit-scrollbar-track {
// 			width: $width-s;
// 		}

// 		&::-webkit-scrollbar-thumb {
// 			width: $width-s;
// 			background-color: $theme-color;
// 		}
// 	}

// 	&:hover {
// 		&::-webkit-scrollbar {
// 			width: $width-l;
// 		}
// 	}

// 	&::-webkit-scrollbar-track-piece {
// 		border-radius: 6px;
// 		background: #0000001a;
// 	}
// }
