$drill-main-color: rgb(115, 173, 255);
$drill-yellow: rgb(255, 204, 40);
$drill-orange: rgb(255, 175, 0);
$drill-white: rgb(255, 245, 224);
$drill-pink: rgb(255, 140, 160);
$drill-black: rgb(102, 102, 102);

$drill-content-bgc: rgb(54, 196, 230);

// you can change colors here
// $theme-color: #096dd9;
$theme-color: $drill-main-color;

$bg-color: (
	// light: #fff,
	// dark: #0d1117,
	light: $drill-yellow,
	dark: $drill-yellow
);

:export {
	themeColor: $theme-color;
}
