// 变量
$alice-blue: rgb(240, 248, 255);
$alice-yellow: rgb(249, 227, 154);

// 钻头深蓝色
$drill-dark-color: rgb(115, 173, 255);
// 主题色
$drill-main-color: rgb(194, 220, 255);

$drill-yellow: rgb(255, 204, 40);
$drill-orange: rgb(255, 175, 0);
$drill-white: rgb(255, 245, 224);
$drill-pink: rgb(255, 140, 160);
$drill-black: rgb(102, 102, 102);

$gray: rgb(230, 230, 230);

// $drill-content-bgc: rgb(54, 196, 230);
// $drill-content-bgc: rgb(240, 248, 255);
$drill-content-bgc: white;
