@use "@sass-palette/hope-config";

@import "./config.scss";
@import "./palette.scss";

// 参考资料 https://github.com/orgs/vuepress-theme-hope/discussions/3742
// FIXME: 出错 无法运行
// @media (min-width: hope-config.$wide) {
// 	html {
// 		--content-width: calc(100vw - 40rem) !important;
// 	}
// }

.vp-breadcrumb,
.vp-page-title,
.toc-place-holder,
.theme-hope-content:not(.custom) {
	max-width: 95vw;
}

// @media (min-width: $pc) {
//   .toggle-sidebar-wrapper {
//     display: unset;
//   }
// }

$scrollbar-width: 1rem;

/*滚动条样式*/
::-webkit-scrollbar {
	width: $scrollbar-width;
}

::-webkit-scrollbar-thumb {
	width: $scrollbar-width;
	border-radius: calc($scrollbar-width * 0.5);

	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
	width: $scrollbar-width;
	border-radius: calc($scrollbar-width * 0.5);

	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	background: rgba(0, 0, 0, 0.1);
}

aside#sidebar {
	$color: palevioletred;
	$width-s: 0.4rem;
	$width-l: 1rem;

	& {
		&::-webkit-scrollbar {
			width: $width-s;
		}

		&::-webkit-scrollbar-track {
			width: $width-s;
		}

		&::-webkit-scrollbar-thumb {
			width: $width-s;
			background-color: $theme-color;
		}
	}

	&:hover {
		&::-webkit-scrollbar {
			width: $width-l;
		}
	}

	&::-webkit-scrollbar-track-piece {
		border-radius: 6px;
		background: #0000001a;
	}
}
