// 标准的 样式配置

@use "../tools/tools.scss" as tools;

// 强制重设根提供的侧边栏配置
@include tools.clearScrollbar(":root");

:root {
	--sidebar-width: 23vw;
}

$gray: rgba(0, 0, 0, 0.05);
$grayDark: rgba(0, 0, 0, 0.25);

// 设置全体的滚动条样式
@include tools.setScrollbar(rgba($theme-color, 1), $gray);

// 侧边栏清空冗余的配置
@include tools.clearScrollbar(".vp-sidebar");

// 标题序号
@include tools.setSidebarOrder();

// 间距 和 标识线
@include tools.setSidebarIndicatrix($grayDark);
